.about-us-container {
    text-align: center;
    width: 100%;
}

html {
    width: fit-content;
}

.about-us-heading {
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 5em;
    /* Increase font size to make it bigger */
    font-weight: bold;
}

.about-us-container {
    text-align: center;
}

.about-us-heading {
    color: black;
    font-weight: 800;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.section-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.section {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.left-content {
    flex: 1;
    padding: 10px;
}

.right-content {
    flex: 2;
}

.left-content h2 {
    font-size: 2.5em;
    /* Increase font size to make it bigger */
    font-weight: bold;
    /* Make the text bold */
}

.image-container {
    margin-top: 20px;
    /* Add some space from the content above */
    margin-left: 20%;
    /* Add space on the left side */
    margin-right: 20%;
    /* Add space on the right side */
}

.image-container img {
    width: 100%;
    /* Ensure the image takes up the full width of its container */
    height: auto;
    /* Maintain aspect ratio */
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.our-idea {
    width: 70%;
    /* Set the width to 70% */
    margin: 20px auto;
    /* Center the div horizontally and add margin */
    display: flex;
    flex-wrap: wrap;
}

.left-section {
    flex: 1;
    /* Takes up 30% of the container */
}

.right-section {
    flex: 2;
    /* Takes up 70% of the container */
    padding-left: 20px;
    /* Add some space between sections */
}

.our-idea .quote {
    font-size: 30px;
    /* Set the font size for heading */
    text-align: center;
}

.our-idea h2 {
    font-size: 20px;
    /* Set the font size for heading */
    font-weight: bold;
    /* Make the heading bold */
    border-bottom: 2px solid black;
    /* Add a black bottom border */
}

.our-idea .quoter {
    text-align: left;
    font-size: 16px;
    /* Set the font size for paragraph */
    line-height: 1.5;
    /* Set the line height for better readability */
}

.our-idea p {
    font-size: 16px;
    /* Set the font size for paragraph */
    line-height: 1.5;
    /* Set the line height for better readability */
}