.navbar {
    background-color: black;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
}

.center-box {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-size: 1em
}

.nav-link:hover {
    background-color: #333;
}