.snap-talks-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/car.jpeg'); /* Path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  }
  
  .snap-talks-page header {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba to add opacity */
    color: black;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .snap-talks-page header h1 {
    font-size: 80px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    margin: 0%;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    width:100%;/* Set width to 100% */
    box-sizing: border-box; /* Include padding in the width */
  }
  
  
  .message-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .message-item img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .message-text {
    margin-top: 5px;
  }
  