.rating-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/car.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rating-page header {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.rating-page header h1 {
  font-size: 4rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  margin: 0;
}

.rating-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}

.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: calc(100% - 40px);
  margin: 20px;
}

.rating-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.rating-item h3 {
  font-size: 1.6rem;
  margin: 0;
}

.rating-value {
  font-size: 1.4rem;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .rating-page header h1 {
    font-size: 6rem;
  }

  .rating-item {
    max-width: 600px;
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .rating-item {
    max-width: 800px;
    width: calc(33.33% - 40px);
  }
}
