.main {
    height: 100%;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0.7rem;
        max-height: 2rem;
        &-thumb {
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}